.u-section-1 .u-sheet-1 {
  min-height: 504px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 74px auto 0 285px;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 14px auto 59px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 164px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 103px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}